header{
    background-color: rgb(207, 235, 235)!important;
}

body{
    height: 100%;
    width: 100%;
}
nav{
    background-color: rgb(206, 200, 200);
}

section{
    background-color: rgb(226, 220, 220);
}

footer{
    background-color: rgb(131, 200, 231)!important;
}

button{
    margin-left: 15px;
}