*{
    margin: 0px auto;
}

header{
    background-color: rgb(207, 235, 235)!important;
}

nav{
    background-color: rgb(235, 226, 226);
}

footer{
    background-color: rgb(131, 200, 231)!important;
}